Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2021-07, with the labels that each got.

#49 Add Integtest.sh for OpenSearch integtest setups
  integtest.sh
Labels: infrastructure

#16 [SINGLE FLOW] Add historical results tab
  public/pages/AnomalyCharts/containers/AnomalyDetailsChart.tsx
  public/pages/HistoricalDetectorResults/components/EmptyHistoricalDetectorResults/EmptyHistoricalDetectorResults.tsx
  public/pages/HistoricalDetectorResults/components/EmptyHistoricalDetectorResults/index.ts
  public/pages/HistoricalDetectorResults/components/HistoricalDetectorCallout/HistoricalDetectorCallout.tsx
  public/pages/HistoricalDetectorResults/components/HistoricalDetectorCallout/index.ts
  public/pages/HistoricalDetectorResults/components/HistoricalRangeModal/HistoricalRangeModal.tsx
  public/pages/HistoricalDetectorResults/components/HistoricalRangeModal/index.ts
  public/pages/HistoricalDetectorResults/containers/HistoricalDetectorResults.tsx
  public/pages/HistoricalDetectorResults/utils/constants.tsx
  public/pages/utils/anomalyResultUtils.ts
  public/pages/utils/constants.ts
  public/utils/constants.ts
  server/utils/constants.ts
Labels: enhancement, v1.1.0

#17 [SINGLE FLOW] Add overview page & other remaining changes
  public/components/ContentPanel/ContentPanel.tsx
  public/models/interfaces.ts
  public/models/types.ts
  public/pages/AnomalyCharts/containers/AnomaliesChart.tsx
  public/pages/AnomalyCharts/containers/AnomalyOccurrenceChart.tsx
  public/pages/AnomalyCharts/containers/FeatureBreakDown.tsx
  public/pages/Dashboard/Components/utils/DashboardHeader.tsx
  public/pages/Dashboard/Container/DashboardOverview.tsx
  public/pages/Dashboard/utils/utils.tsx
  public/pages/DetectorResults/components/DetectorState/DetectorStopped.tsx
  public/pages/DetectorResults/components/OutOfRangeModal/OutOfRangeModal.tsx
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
  public/pages/DetectorResults/containers/AnomalyResults.tsx
  public/pages/DetectorResults/containers/DetectorStateDetails.tsx
  public/pages/DetectorsList/utils/tableUtils.tsx
  public/pages/Overview/components/CreateWorkflowStepDetails.tsx
  public/pages/Overview/components/CreateWorkflowStepSeparator.tsx
  public/pages/Overview/containers/AnomalyDetectionOverview.tsx
  public/pages/Overview/index.scss
  public/pages/Overview/index.ts
  public/pages/main/Main.tsx
  public/redux/reducers/ad.ts
  public/redux/reducers/previewAnomalies.ts
  public/utils/constants.ts
  server/cluster/ad/adPlugin.ts
  server/routes/ad.ts
  server/routes/utils/adHelpers.ts
Labels: enhancement, v1.1.0

#57 [SINGLE FLOW] Rebase server-side files to OpenSearch
  server/cluster/ad/adPlugin.ts
  server/cluster/ad/alertingPlugin.ts
  server/cluster/ad/createAdCluster.ts
  server/cluster/index.ts
  server/index.ts
  server/models/interfaces.ts
  server/models/types.ts
  server/plugin.ts
  server/router.ts
  server/routes/ad.ts
  server/routes/alerting.ts
  server/routes/opensearch.ts
  server/routes/sampleData.ts
  server/routes/utils/adHelpers.ts
  server/sampleData/utils/helpers.ts
  server/utils/constants.ts
  server/utils/helpers.ts
  utils/constants.ts
Labels: v1.1.0

#60 [SINGLE FLOW] Update integration tests
  .cypress/integration/ad/dashboard/ad_dashboard.spec.ts
  .cypress/integration/ad/detectorList/detector_list.spec.ts
  .cypress/integration/ad/workflow/create_detector.spec.ts
  .cypress/plugins/index.js
  .cypress/support/commands.ts
  .cypress/support/index.d.ts
  .cypress/support/index.js
  .cypress/utils/constants.ts
  .cypress/utils/helpers.ts
Labels: v1.1.0

#59 [SINGLE FLOW] Rebase leftover files to OpenSearch
  .eslintrc
  .eslintrc.yml
  .github/ISSUE_TEMPLATE/bug_template.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/configurations/docker-compose.yml
  .github/draft-release-notes-config.yml
  .github/pull_request_template.md
  .github/workflows/CD.yml
  .github/workflows/e2e-tests-workflow.yml
  .github/workflows/link-check-workflow.yml
  .github/workflows/unit-tests-workflow.yml
  .gitignore
  .opensearch_dashboards-plugin-helpers.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTORS
  DEVELOPER_GUIDE.md
  LICENSE.txt
  MAINTAINERS.md
  NOTICE.txt
  OWNERS
  RELEASING.md
  SECURITY.md
  THIRD-PARTY
  babel.config.js
  integtest.sh
  kibana.json
  opensearch_dashboards.json
  package.json
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-1.0.0.0-beta1.md
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-1.0.0.0-rc1.md
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-1.0.0.0.md
  tsconfig.json
  yarn.lock
Labels: v1.1.0

#64 [SINGLE FLOW] Clean up leftover createDetector references; clean up tests
  public/app.scss
  public/pages/CreateDetectorSteps/index.scss
  public/pages/DetectorConfig/containers/MetaData.tsx
  public/pages/DetectorDetail/containers/DetectorDetail.tsx
  public/pages/DetectorDetail/utils/helpers.ts
  public/pages/DetectorResults/containers/AnomalyResults.tsx
  public/pages/ReviewAndCreate/components/__tests__/DetectorScheduleFields.test.tsx
  public/pages/ReviewAndCreate/components/__tests__/__snapshots__/DetectorScheduleFields.test.tsx.snap
Labels: v1.1.0
