Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2021-11, with the labels that each got.

#110 support storing detector result to customr result index
  package.json
  public/models/interfaces.ts
  public/pages/AnomalyCharts/containers/AnomalyDetailsChart.tsx
  public/pages/Dashboard/Components/AnomaliesDistribution.tsx
  public/pages/Dashboard/Components/AnomaliesLiveChart.tsx
  public/pages/Dashboard/utils/utils.tsx
  public/pages/DefineDetector/components/CustomResultIndex/CustomResultIndex.tsx
  public/pages/DefineDetector/components/CustomResultIndex/index.ts
  public/pages/DefineDetector/containers/DefineDetector.tsx
  public/pages/DefineDetector/containers/__tests__/__snapshots__/DefineDetector.test.tsx.snap
  public/pages/DefineDetector/models/interfaces.ts
  public/pages/DefineDetector/utils/constants.tsx
  public/pages/DefineDetector/utils/helpers.ts
  public/pages/DetectorConfig/containers/__tests__/DetectorConfig.test.tsx
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
  public/pages/DetectorResults/containers/AnomalyResults.tsx
  public/pages/DetectorResults/containers/AnomalyResultsLiveChart.tsx
  public/pages/ReviewAndCreate/components/DetectorDefinitionFields/DetectorDefinitionFields.tsx
  public/pages/ReviewAndCreate/components/__tests__/__snapshots__/DetectorDefinitionFields.test.tsx.snap
  public/pages/ReviewAndCreate/containers/__tests__/__snapshots__/ReviewAndCreate.test.tsx.snap
  public/pages/ReviewAndCreate/utils/helpers.ts
  public/pages/utils/anomalyResultUtils.ts
  public/pages/utils/constants.ts
  public/redux/reducers/__tests__/anomalyResults.test.ts
  public/redux/reducers/anomalyResults.ts
  public/redux/reducers/liveAnomalyResults.ts
  public/utils/constants.ts
  public/utils/utils.tsx
  server/cluster/ad/adPlugin.ts
  server/routes/ad.ts
  server/utils/constants.ts
  yarn.lock
Labels: feature, v1.2.0

#107 Support multi-category filtering of results
  public/models/interfaces.ts
  public/pages/AnomalyCharts/components/FeatureChart/FeatureChart.tsx
  public/pages/AnomalyCharts/containers/AnomaliesChart.tsx
  public/pages/AnomalyCharts/containers/AnomalyDetailsChart.tsx
  public/pages/AnomalyCharts/containers/AnomalyHeatmapChart.tsx
  public/pages/AnomalyCharts/containers/AnomalyOccurrenceChart.tsx
  public/pages/AnomalyCharts/containers/FeatureBreakDown.tsx
  public/pages/AnomalyCharts/containers/__tests__/AnomaliesChart.test.tsx
  public/pages/AnomalyCharts/containers/__tests__/AnomalyHeatmapChart.test.tsx
  public/pages/AnomalyCharts/containers/__tests__/FeatureBreakDown.test.tsx
  public/pages/AnomalyCharts/containers/__tests__/__snapshots__/AnomalyHeatmapChart.test.tsx.snap
  public/pages/AnomalyCharts/utils/anomalyChartUtils.tsx
  public/pages/ConfigureModel/containers/SampleAnomalies.tsx
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
  public/pages/DetectorResults/utils/constants.ts
  public/pages/utils/anomalyResultUtils.ts
  public/redux/reducers/anomalyResults.ts
  server/cluster/ad/adPlugin.ts
  server/routes/ad.ts
  server/utils/constants.ts
Labels: feature, v1.2.0

#106 Integrating Validation API On Detector Creation Process
  .prettierrc
  public/models/interfaces.ts
  public/pages/DefineDetector/components/NameAndDescription/NameAndDescription.tsx
  public/pages/DefineDetector/components/NameAndDescription/__tests__/__snapshots__/NameAndDescription.test.tsx.snap
  public/pages/DefineDetector/containers/__tests__/__snapshots__/DefineDetector.test.tsx.snap
  public/pages/ReviewAndCreate/components/DetectorDefinitionFields/DetectorDefinitionFields.tsx
  public/pages/ReviewAndCreate/components/ModelConfigurationFields/ModelConfigurationFields.tsx
  public/pages/ReviewAndCreate/containers/ReviewAndCreate.tsx
  public/pages/ReviewAndCreate/containers/__tests__/__snapshots__/ReviewAndCreate.test.tsx.snap
  public/redux/reducers/ad.ts
  server/cluster/ad/adPlugin.ts
  server/routes/ad.ts
Labels: feature, v1.2.0

#103 Add DCO Check Workflow
  .github/workflows/dco.yml
Labels: v1.2.0

#114 Bump version to 1.2
  .github/workflows/CD.yml
  opensearch_dashboards.json
  package.json
Labels: infra, v1.2.0

#120 Fix bug of detector task calls failing if no state index
  server/routes/ad.ts
Labels: bug, v1.2.0

#122 Fix chart range bug of non-HC anomaly and feature charts
  public/pages/AnomalyCharts/components/FeatureChart/FeatureChart.tsx
  public/pages/AnomalyCharts/containers/AnomalyDetailsChart.tsx
Labels: bug, v1.2.0

#129 Add release notes for version 1.2.0.0
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-1.2.0.0.md
Labels: documentation, v1.2.0

#131 Fix bug of HC historical results not auto-refreshing
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
Labels: bug, v1.2.0

#132 [BACKPORT] [1.x] Backport #131 to 1.x
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
Labels: backport, v1.2.0

#133 [BACKPORT] [1.2] Backport #131 to 1.2
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
Labels: backport, v1.2.0

#136 Fix bug of missing annotations on feature charts
  public/pages/AnomalyCharts/components/FeatureChart/FeatureChart.tsx
  public/pages/AnomalyCharts/containers/FeatureBreakDown.tsx
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
Labels: bug, v1.2.0

#137 [BACKPORT] [1.x] Backport #136 to 1.x
  public/pages/AnomalyCharts/components/FeatureChart/FeatureChart.tsx
  public/pages/AnomalyCharts/containers/FeatureBreakDown.tsx
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
Labels: backport, v1.2.0

#138 [BACKPORT] [1.2] Backport #136 to 1.2
  public/pages/AnomalyCharts/components/FeatureChart/FeatureChart.tsx
  public/pages/AnomalyCharts/containers/FeatureBreakDown.tsx
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
Labels: backport, v1.2.0

#140 [Backporting to 1.x] updated release notes for frontend 1.2.0.0 (#139)
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-1.2.0.0.md
Labels: backport

#141 [Backporting to 1.2] updated release notes for frontend 1.2.0.0 (#139)
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-1.2.0.0.md
Labels: backport, v1.2.0

#146 Remove remaining Amazon header
  public/pages/DefineDetector/components/DataFilterList/utils/__tests__/helper.test.ts
Labels: documentation, v1.2.0

#147 [BACKPORT] [1.x] Backport #146 to 1.x
  public/pages/DefineDetector/components/DataFilterList/utils/__tests__/helper.test.ts
Labels: documentation, backport, v1.2.0

#149 [BACKPORT] [1.2] Backport #146 to 1.2
  public/pages/DefineDetector/components/DataFilterList/utils/__tests__/helper.test.ts
Labels: documentation, backport, v1.2.0
