Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2022-08, with the labels that each got.

#293 bump to 2.2
  .github/workflows/remote-integ-tests-workflow.yml
  opensearch_dashboards.json
  package.json
Labels: github actions, backport 2.x

#296 Add feature attribution
  public/models/interfaces.ts
  public/pages/AnomalyCharts/components/FeatureChart/FeatureChart.tsx
  public/pages/AnomalyCharts/containers/AnomalyDetailsChart.tsx
  public/pages/AnomalyCharts/utils/anomalyChartUtils.tsx
  public/pages/AnomalyCharts/utils/constants.ts
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
  public/pages/utils/anomalyResultUtils.ts
  server/models/types.ts
  server/routes/ad.ts
Labels: backport 2.x, backport 2.1

#300 Add 2.2 release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.2.0.0.md
Labels: documentation, backport 2.x, backport 2.2

#303 fix failed unit tests
  public/pages/AnomalyCharts/containers/AnomalyDetailsChart.tsx
Labels: backport 2.x, backport 2.2

#306 Fix a bug in parse response to get expected value
  server/routes/ad.ts
Labels: backport 2.x, backport 2.2

#310 Fix undefine expect value for feature attribution
  server/routes/ad.ts
Labels: backport 2.x, backport 2.2

#314 [Release 1.3.5] Version increment
  .github/workflows/remote-integ-tests-workflow.yml
  opensearch_dashboards.json
  package.json
Labels: github actions
