Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2022-03, with the labels that each got.

#183 Add test IDs to components for integ tests
  public/components/ContentPanel/ContentPanel.tsx
  public/components/ContentPanel/__snapshots__/ContentPanel.test.tsx.snap
  public/pages/AnomalyCharts/components/FeatureChart/FeatureChart.tsx
  public/pages/AnomalyCharts/containers/AnomalyDetailsChart.tsx
  public/pages/ConfigureModel/components/AggregationSelector/AggregationSelector.tsx
  public/pages/ConfigureModel/components/AggregationSelector/__tests__/__snapshots__/AggregationSelector.test.tsx.snap
  public/pages/ConfigureModel/components/CategoryField/__tests__/__snapshots__/CategoryField.test.tsx.snap
  public/pages/ConfigureModel/components/FeatureAccordion/FeatureAccordion.tsx
  public/pages/ConfigureModel/containers/ConfigureModel.tsx
  public/pages/ConfigureModel/containers/__tests__/__snapshots__/ConfigureModel.test.tsx.snap
  public/pages/Dashboard/Components/AnomaliesDistribution.tsx
  public/pages/Dashboard/Components/AnomaliesLiveChart.tsx
  public/pages/Dashboard/Components/AnomalousDetectorsList.tsx
  public/pages/Dashboard/Components/EmptyDashboard/EmptyDashboard.tsx
  public/pages/Dashboard/Components/EmptyDashboard/__tests__/__snapshots__/EmptyDashboard.test.tsx.snap
  public/pages/DefineDetector/components/Datasource/DataSource.tsx
  public/pages/DefineDetector/components/NameAndDescription/NameAndDescription.tsx
  public/pages/DefineDetector/components/NameAndDescription/__tests__/__snapshots__/NameAndDescription.test.tsx.snap
  public/pages/DefineDetector/components/Settings/__tests__/__snapshots__/Settings.test.tsx.snap
  public/pages/DefineDetector/components/Timestamp/Timestamp.tsx
  public/pages/DefineDetector/containers/DefineDetector.tsx
  public/pages/DefineDetector/containers/__tests__/__snapshots__/DefineDetector.test.tsx.snap
  public/pages/DetectorConfig/containers/DetectorJobs.tsx
  public/pages/DetectorConfig/containers/Features.tsx
  public/pages/DetectorDetail/components/DetectorControls/DetectorControls.tsx
  public/pages/DetectorDetail/containers/DetectorDetail.tsx
  public/pages/DetectorDetail/utils/helpers.tsx
  public/pages/DetectorJobs/components/HistoricalJob/__tests__/__snapshots__/HistoricalJob.test.tsx.snap
  public/pages/DetectorJobs/components/RealTimeJob/__tests__/__snapshots__/RealTimeJob.test.tsx.snap
  public/pages/DetectorJobs/containers/DetectorJobs.tsx
  public/pages/DetectorJobs/containers/__tests__/__snapshots__/DetectorJobs.test.tsx.snap
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
  public/pages/DetectorResults/containers/AnomalyResults.tsx
  public/pages/DetectorResults/containers/AnomalyResultsLiveChart.tsx
  public/pages/DetectorResults/containers/AnomalyResultsTable.tsx
  public/pages/DetectorsList/components/EmptyMessage/EmptyMessage.tsx
  public/pages/DetectorsList/components/EmptyMessage/__tests__/__snapshots__/EmptyMessage.test.tsx.snap
  public/pages/DetectorsList/containers/ConfirmActionModals/ConfirmDeleteDetectorsModal.tsx
  public/pages/DetectorsList/containers/ConfirmActionModals/ConfirmStartDetectorsModal.tsx
  public/pages/DetectorsList/containers/ConfirmActionModals/ConfirmStopDetectorsModal.tsx
  public/pages/DetectorsList/containers/List/List.tsx
  public/pages/HistoricalDetectorResults/components/EmptyHistoricalDetectorResults/EmptyHistoricalDetectorResults.tsx
  public/pages/HistoricalDetectorResults/components/HistoricalRangeModal/HistoricalRangeModal.tsx
  public/pages/HistoricalDetectorResults/components/__tests__/__snapshots__/EmptyHistoricalDetectorResults.test.tsx.snap
  public/pages/HistoricalDetectorResults/containers/HistoricalDetectorResults.tsx
  public/pages/Overview/components/SampleDataBox/SampleDataBox.tsx
  public/pages/Overview/components/SampleDataBox/__tests__/__snapshots__/SampleDataBox.test.tsx.snap
  public/pages/Overview/components/SampleDetailsFlyout/SampleDetailsFlyout.tsx
  public/pages/Overview/components/SampleIndexDetailsCallout/SampleIndexDetailsCallout.tsx
  public/pages/Overview/containers/AnomalyDetectionOverview.tsx
  public/pages/Overview/containers/__tests__/__snapshots__/AnomalyDetectionOverview.test.tsx.snap
  public/pages/ReviewAndCreate/components/DetectorDefinitionFields/DetectorDefinitionFields.tsx
  public/pages/ReviewAndCreate/components/DetectorScheduleFields/DetectorScheduleFields.tsx
  public/pages/ReviewAndCreate/components/ModelConfigurationFields/ModelConfigurationFields.tsx
  public/pages/ReviewAndCreate/components/__tests__/__snapshots__/DetectorDefinitionFields.test.tsx.snap
  public/pages/ReviewAndCreate/containers/ReviewAndCreate.tsx
  public/pages/ReviewAndCreate/containers/__tests__/__snapshots__/ReviewAndCreate.test.tsx.snap
Labels: test, infra, v1.3.0

#202 Non blocker
  public/models/interfaces.ts
  public/pages/DefineDetector/utils/constants.tsx
  public/pages/ReviewAndCreate/components/DetectorDefinitionFields/DetectorDefinitionFields.tsx
  public/pages/ReviewAndCreate/components/FilterDisplayList/FilterDisplayList.tsx
  public/pages/ReviewAndCreate/components/ModelConfigurationFields/ModelConfigurationFields.tsx
  public/pages/ReviewAndCreate/containers/ReviewAndCreate.tsx
  public/redux/reducers/ad.ts
  server/cluster/ad/adPlugin.ts
  server/routes/ad.ts
Labels: enhancement, v1.3.0, backport 1.x

#206 Add release notes for 1.3.0.0
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-1.3.0.0.md
Labels: documentation, v1.3.0, backport 1.x, backport 1.3

#215 Update integ tests badge in README
  README.md
Labels: documentation, backport 1.x

#216 [1.x] Change integ test repo test branch
  .github/workflows/remote-integ-tests-workflow.yml
Labels: infra
