Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2022-05, with the labels that each got.

#257 Remove rc1 qualifier
  .github/workflows/remote-integ-tests-workflow.yml
  opensearch_dashboards.json
  package.json
  yarn.lock
Labels: backport 2.0, backport 2.x

#262 Wait for detector to load before checking indices exist
  public/pages/DetectorDetail/containers/DetectorDetail.tsx
Labels: backport 1.x, backport 1.3, backport 2.0, backport 2.x

#267 2.0-GA release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.0.0.0.md
Labels: documentation, backport 2.0, backport 2.x

#252 added UT for validation API related components
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  global-setup.js
  public/components/CodeModal/__tests__/CodeModal.test.tsx
  public/components/CodeModal/__tests__/__snapshots__/CodeModal.test.tsx.snap
  public/components/ContentPanel/ContentPanel.test.tsx
  public/components/ContentPanel/ContentPanel.tsx
  public/models/interfaces.ts
  public/pages/AnomalyCharts/containers/__tests__/__snapshots__/AnomalyHeatmapChart.test.tsx.snap
  public/pages/AnomalyCharts/utils/__tests__/anomalyChartUtils.test.ts
  public/pages/AnomalyCharts/utils/anomalyChartUtils.tsx
  public/pages/ConfigureModel/containers/__tests__/ConfigureModel.test.tsx
  public/pages/Dashboard/Components/AnomaliesLiveChart.tsx
  public/pages/Dashboard/Components/__tests__/AnomaliesLiveCharts.test.tsx
  public/pages/Dashboard/Components/__tests__/__snapshots__/AnomaliesLiveCharts.test.tsx.snap
  public/pages/Dashboard/utils/__tests__/utils.test.tsx
  public/pages/Dashboard/utils/utils.tsx
  public/pages/DefineDetector/components/DataFilterList/components/DataFilter.tsx
  public/pages/DefineDetector/components/DataFilterList/components/__tests__/DataFilter.test.tsx
  public/pages/DefineDetector/components/DataFilterList/components/__tests__/__snapshots__/DataFilter.test.tsx.snap
  public/pages/DefineDetector/containers/__tests__/DefineDetector.test.tsx
  public/pages/DefineDetector/containers/__tests__/__snapshots__/DefineDetector.test.tsx.snap
  public/pages/DefineDetector/utils/constants.tsx
  public/pages/DetectorConfig/containers/__tests__/DetectorConfig.test.tsx
  public/pages/DetectorConfig/containers/__tests__/__snapshots__/DetectorConfig.test.tsx.snap
  public/pages/DetectorsList/components/ListActions/__tests__/ListActions.test.tsx
  public/pages/DetectorsList/containers/ConfirmActionModals/__tests__/ConfirmDeleteDetectorsModal.test.tsx
  public/pages/DetectorsList/containers/ConfirmActionModals/__tests__/ConfirmStartDetectorsModal.test.tsx
  public/pages/DetectorsList/containers/ConfirmActionModals/__tests__/ConfirmStopDetectorsModal.test.tsx
  public/pages/DetectorsList/containers/List/__tests__/List.test.tsx
  public/pages/Overview/components/SampleDataBox/SampleDataBox.tsx
  public/pages/Overview/components/__tests__/SampleDetailsFlyout.test.tsx
  public/pages/Overview/containers/__tests__/AnomalyDetectionOverview.test.tsx
  public/pages/ReviewAndCreate/components/__tests__/ModelConfigurationFields.test.tsx
  public/pages/ReviewAndCreate/components/__tests__/__snapshots__/ModelConfigurationFields.test.tsx.snap
  public/pages/ReviewAndCreate/containers/__tests__/ReviewAndCreate.test.tsx
  public/pages/ReviewAndCreate/containers/__tests__/__snapshots__/ReviewAndCreate.test.tsx.snap
  public/pages/utils/__tests__/constants.ts
  test/jest.config.js
  test/setup.jest.ts
Labels: test, infra, backport 2.x

#228 Run UT/IT on all branches
  .github/workflows/remote-integ-tests-workflow.yml
  .github/workflows/unit-tests-workflow.yml
Labels: github actions, backport 2.0, backport 2.x
