Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2022-04, with the labels that each got.

#226 Updated issue templates from .github.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github actions

#230 2.0 version bump
  .github/workflows/remote-integ-tests-workflow.yml
  .github/workflows/unit-tests-workflow.yml
  .gitignore
  opensearch_dashboards.json
  package.json
  public/components/ContentPanel/ContentPanel.tsx
  public/components/ContentPanel/__snapshots__/ContentPanel.test.tsx.snap
  public/pages/AnomalyCharts/components/AlertsFlyout/__tests__/__snapshots__/AlertsFlyout.test.tsx.snap
  public/pages/AnomalyCharts/components/AnomaliesStat/__tests__/__snapshots__/AnomalyStat.test.tsx.snap
  public/pages/AnomalyCharts/components/FeatureChart/FeatureChart.tsx
  public/pages/AnomalyCharts/containers/AnomalyDetailsChart.tsx
  public/pages/AnomalyCharts/containers/__tests__/__snapshots__/AnomalyHeatmapChart.test.tsx.snap
  public/pages/ConfigureModel/components/AggregationSelector/__tests__/__snapshots__/AggregationSelector.test.tsx.snap
  public/pages/ConfigureModel/components/CategoryField/__tests__/__snapshots__/CategoryField.test.tsx.snap
  public/pages/ConfigureModel/components/CustomAggregation/__tests__/__snapshots__/CustomAggregation.test.tsx.snap
  public/pages/ConfigureModel/containers/__tests__/ConfigureModel.test.tsx
  public/pages/ConfigureModel/containers/__tests__/__snapshots__/ConfigureModel.test.tsx.snap
  public/pages/Dashboard/Components/AnomaliesLiveChart.tsx
  public/pages/Dashboard/Components/EmptyDashboard/__tests__/__snapshots__/EmptyDashboard.test.tsx.snap
  public/pages/DefineDetector/components/Datasource/__tests__/__snapshots__/IndexOption.test.tsx.snap
  public/pages/DefineDetector/components/NameAndDescription/__tests__/__snapshots__/NameAndDescription.test.tsx.snap
  public/pages/DefineDetector/components/Settings/__tests__/__snapshots__/Settings.test.tsx.snap
  public/pages/DefineDetector/containers/__tests__/DefineDetector.test.tsx
  public/pages/DefineDetector/containers/__tests__/__snapshots__/DefineDetector.test.tsx.snap
  public/pages/DetectorConfig/containers/__tests__/DetectorConfig.test.tsx
  public/pages/DetectorDetail/components/ConfirmModal/__tests__/__snapshots__/ConfirmModal.test.tsx.snap
  public/pages/DetectorDetail/components/DetectorControls/__tests__/__snapshots__/DetectorControls.test.tsx.snap
  public/pages/DetectorDetail/components/MonitorCallout/__tests__/__snapshots__/MonitorCallout.test.tsx.snap
  public/pages/DetectorJobs/components/HistoricalJob/__tests__/__snapshots__/HistoricalJob.test.tsx.snap
  public/pages/DetectorJobs/components/RealTimeJob/__tests__/__snapshots__/RealTimeJob.test.tsx.snap
  public/pages/DetectorJobs/containers/__tests__/__snapshots__/DetectorJobs.test.tsx.snap
  public/pages/DetectorResults/components/ListControls/__tests__/__snapshots__/ListControls.test.tsx.snap
  public/pages/DetectorResults/containers/AnomalyResultsLiveChart.tsx
  public/pages/DetectorsList/components/EmptyMessage/__tests__/__snapshots__/EmptyMessage.test.tsx.snap
  public/pages/DetectorsList/components/ListActions/__tests__/ListActions.test.tsx
  public/pages/DetectorsList/components/ListActions/__tests__/__snapshots__/ListActions.test.tsx.snap
  public/pages/DetectorsList/components/ListFilters/__tests__/__snapshots__/ListFilters.test.tsx.snap
  public/pages/DetectorsList/containers/ConfirmActionModals/__tests__/ConfirmDeleteDetectorsModal.test.tsx
  public/pages/DetectorsList/containers/ConfirmActionModals/__tests__/ConfirmStartDetectorsModal.test.tsx
  public/pages/DetectorsList/containers/ConfirmActionModals/__tests__/ConfirmStopDetectorsModal.test.tsx
  public/pages/DetectorsList/containers/List/__tests__/List.test.tsx
  public/pages/HistoricalDetectorResults/components/__tests__/__snapshots__/EmptyHistoricalDetectorResults.test.tsx.snap
  public/pages/Overview/components/SampleDataBox/SampleDataBox.tsx
  public/pages/Overview/components/SampleDataBox/__tests__/__snapshots__/SampleDataBox.test.tsx.snap
  public/pages/Overview/components/SampleDataCallout/__tests__/__snapshots__/SampleDataCallout.test.tsx.snap
  public/pages/Overview/containers/AnomalyDetectionOverview.tsx
  public/pages/Overview/containers/__tests__/AnomalyDetectionOverview.test.tsx
  public/pages/Overview/containers/__tests__/__snapshots__/AnomalyDetectionOverview.test.tsx.snap
  public/pages/ReviewAndCreate/components/__tests__/__snapshots__/AdditionalSettings.test.tsx.snap
  public/pages/ReviewAndCreate/components/__tests__/__snapshots__/DetectorDefinitionFields.test.tsx.snap
  public/pages/ReviewAndCreate/containers/__tests__/__snapshots__/ReviewAndCreate.test.tsx.snap
  server/router.ts
  test/jest.config.js
  yarn.lock
Labels: v2.0.0, dependencies, breaking

#234 [Build] bump to 2.0.0.0-rc1
  opensearch_dashboards.json
  package.json
Labels: v2.0.0

#238 Remove extra loading spinners
  public/pages/DetectorConfig/containers/DetectorConfig.tsx
Labels: bug

#241 Change 2.0-alpha1 to 2.0-rc1.
  .github/workflows/remote-integ-tests-workflow.yml
Labels: github actions

#243 remove additional loading spinners and removing master from docker compose
  .github/configurations/docker-compose.yml
  public/pages/DetectorDetail/containers/DetectorDetail.tsx
Labels: bug, backport 2.0, backport 2.x

#246 Update labeler to default backports to 2.x
  .github/labeler.yml
Labels: github actions

#247 Adding 2.0-rc1 release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.0.0.0-rc1.md
Labels: documentation, backport 2.0, backport 2.x
