Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2022-11, with the labels that each got.

#330 Add windows platform in CI workflow
  .github/workflows/unit-tests-workflow.yml
  public/pages/DefineDetector/components/NameAndDescription/NameAndDescription.tsx
  public/pages/DefineDetector/components/Settings/Settings.tsx
  public/pages/DefineDetector/components/Settings/__tests__/__snapshots__/Settings.test.tsx.snap
  public/pages/DefineDetector/containers/__tests__/__snapshots__/DefineDetector.test.tsx.snap
  public/pages/Overview/containers/AnomalyDetectionOverview.tsx
Labels: github actions, backport 2.x, backport 2.4

#336 Correct AD branch reference for 2.x
  .github/workflows/remote-integ-tests-workflow.yml
Labels: backport 2.4

#342 Bump terser and loader-utils deps
  package.json
  yarn.lock
Labels: dependencies, backport 2.x
