Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2023-07, with the labels that each got.

#522 [Feature Anywhere] Change to anomaly start time; add test ids
  public/components/FeatureAnywhereContextMenu/AssociatedDetectors/containers/AssociatedDetectors.tsx
  public/components/FeatureAnywhereContextMenu/CreateAnomalyDetector/AddAnomalyDetector.tsx
  public/components/FeatureAnywhereContextMenu/EnhancedAccordion/EnhancedAccordion.tsx
  public/expressions/helpers.ts
  public/pages/DetectorConfig/containers/Features.tsx
Labels: enhancement, v2.9.0

#529 Bump to 2.9.0.0
  .github/workflows/remote-integ-tests-workflow.yml
  opensearch_dashboards.json
  package.json
Labels: v2.9.0

#542 pick changes from featureAnywhere branch into main
  public/pages/utils/__tests__/anomalyResultUtils.test.ts
  test/jest.config.js
Labels: backport 2.x, v2.9.0

#546 Fixing unit tests plus ran prettier
  public/expressions/__tests__/overlay_anomalies.test.ts
  public/pages/DetectorConfig/containers/__tests__/__snapshots__/DetectorConfig.test.tsx.snap
  public/pages/utils/__tests__/anomalyResultUtils.test.ts
Labels: backport 2.x, backport 2.9

#551 Add 2.9.0 release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.9.0.0.md
Labels: documentation, backport 2.x, v2.9.0, backport 2.9

#554 Remove version dependency in cypress workflow
  .github/workflows/remote-integ-tests-workflow.yml
Labels: github actions, backport 2.x

#555 [Backport 2.x] Remove version dependency in cypress workflow (#554)
  .github/workflows/remote-integ-tests-workflow.yml
Labels: github actions

#562 Optimize fetching of `augment-vis` saved objects
  public/components/FeatureAnywhereContextMenu/CreateAnomalyDetector/AddAnomalyDetector.tsx
Labels: enhancement, backport 2.x, backport 2.9

#565 Bumped semver to latest legacy version
  package.json
  yarn.lock
Labels: dependencies, backport 1.3, backport 2.x

#560 Cypress workflow improvements
  .github/workflows/remote-integ-tests-workflow.yml
Labels: test, github actions, backport 2.x, v2.10.0

#570 [Backport 2.x] Cypress workflow improvements (#560)
  .github/workflows/remote-integ-tests-workflow.yml
Labels: test
