Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2023-05, with the labels that each got.

#476 Updating maintainers and code owners
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: documentation, github actions, backport 2.x

#491 fixing test to pass with node 18
  public/pages/DefineDetector/components/NameAndDescription/__tests__/NameAndDescription.test.tsx
Labels: backport 2.x

#498 Add 2.8 release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.8.0.0.md
Labels: backport 2.x

#500 add 2.8.0 release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.8.0.0.md
Labels: documentation, backport 2.x, backport 2.8
