Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2023-02, with the labels that each got.

#411 Changed required minimum intervals in cold start message
  public/pages/DetectorResults/containers/AnomalyResults.tsx
Labels: backport 2.x, backport 2.5

#418 Bump @sideway/formula to 3.0.1
  package.json
  yarn.lock
Labels: dependencies, security vulnerability, backport 2.x

#423 Remove `auto_expand_replicas` override in sample data indices
  public/pages/Overview/utils/constants.tsx
Labels: enhancement, backport 1.3, backport 2.x

#422 Added untriaged issue workflow.
  .github/workflows/add-untriaged.yml
Labels: github actions, backport 2.x

#430 Bump to 2.6.0.0
  .github/workflows/remote-integ-tests-workflow.yml
  opensearch_dashboards.json
  package.json
Labels: version upgrade

#429 Add 2.6 release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.6.0.0.md
Labels: documentation, backport 2.x

#433 Fix Node.js and Yarn installation in CI
  .github/workflows/remote-integ-tests-workflow.yml
  .github/workflows/unit-tests-workflow.yml
Labels: github actions, backport 2.x, backport 2.6
