Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2023-01, with the labels that each got.

#384 Change detector out of time range modal warning into a callout warning
  public/pages/AnomalyCharts/containers/AnomaliesChart.tsx
  public/pages/AnomalyCharts/containers/AnomalyDetailsChart.tsx
  public/pages/DetectorResults/components/OutOfRangeModal/OutOfRangeModal.tsx
  public/pages/DetectorResults/components/OutOfRangeModal/index.ts
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
  public/pages/DetectorResults/containers/AnomalyResults.tsx
Labels: backport 2.x, v2.5.0

#383 Fix undefined entity list when heatmap is empty
  public/pages/utils/anomalyResultUtils.ts
Labels: backport 2.x, v2.5.0

#388 Updated MAINTAINERS.md format.
  MAINTAINERS.md
Labels: documentation, backport 2.x

#390 Add windows env to integration test workflow
  .github/workflows/remote-integ-tests-workflow.yml
Labels: github actions, backport 2.x

#393 Bump json5 to 2.2.3
  package.json
  yarn.lock
Labels: dependencies, backport 2.x

#395 Add 2.5 release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.5.0.0.md
Labels: documentation, backport 2.x, backport 2.5

#398 Update cold start message
  public/pages/DetectorResults/containers/AnomalyResults.tsx
Labels: backport 2.x

#402 upgrade filter bug
  public/pages/DefineDetector/utils/__tests__/helpers.test.tsx
  public/pages/DefineDetector/utils/helpers.ts
Labels: backport 2.x, backport 2.5
