Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2024-10, with the labels that each got.

#889 Fix issues in running historical analysis and custom result index section
  public/pages/DefineDetector/components/CustomResultIndex/CustomResultIndex.tsx
  public/pages/DefineDetector/containers/__tests__/__snapshots__/DefineDetector.test.tsx.snap
  public/redux/reducers/ad.ts
Labels: backport 2.x, backport 2.17

#898 Fix preview not considering rules and imputation options
  .github/workflows/remote-integ-tests-workflow.yml
  public/pages/ConfigureModel/containers/ConfigureModel.tsx
  public/pages/ConfigureModel/containers/SampleAnomalies.tsx
  public/pages/ConfigureModel/containers/__tests__/SampleAnomalies.test.tsx
  public/pages/ConfigureModel/utils/__tests__/helpers.test.tsx
  public/pages/ConfigureModel/utils/helpers.ts
Labels: bug, backport 2.x

#902 Add 2.18 release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.18.0.0.md
Labels: documentation, backport 2.x

#901 Do not show suggestAD action if the data source has no AI agent
  public/components/DiscoverAction/SuggestAnomalyDetector.test.tsx
  public/components/DiscoverAction/SuggestAnomalyDetector.tsx
  public/utils/contextMenu/getActions.tsx
Labels: backport 2.x

#908 Remove unnecessary dep
  package.json
  yarn.lock
Labels: dependencies, backport 2.x, backport 2.18

#915 mds bug fixes
  public/pages/Dashboard/Container/DashboardOverview.tsx
  public/pages/DetectorsList/containers/List/List.tsx
  public/pages/Overview/containers/AnomalyDetectionOverview.tsx
  public/redux/reducers/ad.ts
  public/redux/reducers/previewAnomalies.ts
Labels: backport 2.x, backport mds-2.17
