Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2024-04, with the labels that each got.

#713 Populate selected indices from query params on initial load
  public/pages/DetectorsList/containers/List/List.tsx
Labels: bug, backport 2.x

#722 Support MDS on List, Detail, Dashboard, Overview pages
  opensearch_dashboards.json
  public/anomaly_detection_app.tsx
  public/pages/AnomalyCharts/containers/AnomalyDetailsChart.tsx
  public/pages/CreateDetectorSteps/hooks/useFetchDetectorInfo.ts
  public/pages/Dashboard/Components/AnomaliesDistribution.tsx
  public/pages/Dashboard/Components/AnomaliesLiveChart.tsx
  public/pages/Dashboard/Container/DashboardOverview.tsx
  public/pages/Dashboard/utils/utils.tsx
  public/pages/DefineDetector/components/Datasource/DataSource.tsx
  public/pages/DefineDetector/components/NameAndDescription/NameAndDescription.tsx
  public/pages/DetectorConfig/containers/DetectorConfig.tsx
  public/pages/DetectorDetail/containers/DetectorDetail.tsx
  public/pages/DetectorDetail/hooks/useFetchMonitorInfo.ts
  public/pages/DetectorResults/containers/AnomalyHistory.tsx
  public/pages/DetectorResults/containers/AnomalyResults.tsx
  public/pages/DetectorResults/containers/AnomalyResultsLiveChart.tsx
  public/pages/DetectorsList/containers/List/List.tsx
  public/pages/DetectorsList/utils/helpers.ts
  public/pages/DetectorsList/utils/tableUtils.tsx
  public/pages/HistoricalDetectorResults/containers/HistoricalDetectorResults.tsx
  public/pages/Overview/components/SampleDataBox/SampleDataBox.tsx
  public/pages/Overview/containers/AnomalyDetectionOverview.tsx
  public/pages/main/Main.tsx
  public/pages/utils/anomalyResultUtils.ts
  public/pages/utils/constants.ts
  public/pages/utils/helpers.ts
  public/plugin.ts
  public/redux/reducers/ad.ts
  public/redux/reducers/alerting.ts
  public/redux/reducers/anomalyResults.ts
  public/redux/reducers/liveAnomalyResults.ts
  public/redux/reducers/opensearch.ts
  public/redux/reducers/sampleData.ts
  public/services.ts
  public/utils/constants.ts
  server/models/types.ts
  server/plugin.ts
  server/routes/ad.ts
  server/routes/alerting.ts
  server/routes/opensearch.ts
  server/routes/sampleData.ts
  server/sampleData/utils/helpers.ts
  server/utils/helpers.ts
Labels: backport 2.x

#693 Add workflow to verify binary installation works
  .github/workflows/build-and-test-workflow.yml
  .github/workflows/remote-integ-tests-workflow.yml
  .github/workflows/verify-binary-installation.yml
Labels: github actions, backport 2.x

#742 clean selected field values when switching data source on create page
  public/pages/DefineDetector/components/Datasource/DataSource.tsx
  public/pages/DefineDetector/containers/DefineDetector.tsx
  public/pages/DefineDetector/containers/__tests__/__snapshots__/DefineDetector.test.tsx.snap
Labels: backport 2.x

#741 build query parameters using data_end_time
  .github/workflows/build-and-test-workflow.yml
  .github/workflows/remote-integ-tests-workflow.yml
  package.json
  public/pages/DetectorResults/containers/AnomalyResults.tsx
  public/pages/utils/__tests__/anomalyResultUtils.test.ts
  public/pages/utils/anomalyResultUtils.ts
  release-notes/opendistro-for-elasticsearch.anomaly-detection-kibana-plugin.release-notes-1.7.0.0.md
Labels: backport 2.x, backport 2.14

#745 Add release notes for 2.14.0
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.14.0.0.md
Labels: documentation, backport 2.x

#752 Use correct 2.x version for Dashboards binary
  .github/workflows/verify-binary-installation.yml
Labels: backport 2.x
