Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2024-09, with the labels that each got.

#859 Add ignore rules comparing actual and expected values
  .github/workflows/remote-integ-tests-workflow.yml
  public/models/interfaces.ts
  public/models/types.ts
  public/pages/ConfigureModel/components/AdvancedSettings/AdvancedSettings.tsx
  public/pages/ConfigureModel/components/AdvancedSettings/__tests__/AdvancedSettings.test.tsx
  public/pages/ConfigureModel/containers/ConfigureModel.tsx
  public/pages/ConfigureModel/models/interfaces.ts
  public/pages/ConfigureModel/utils/__tests__/helpers.test.tsx
  public/pages/ConfigureModel/utils/helpers.ts
  public/pages/DefineDetector/utils/constants.tsx
  public/pages/DetectorConfig/components/AdditionalSettings/AdditionalSettings.tsx
  public/pages/DetectorConfig/containers/Features.tsx
  public/pages/DetectorConfig/containers/__tests__/DetectorConfig.test.tsx
  public/pages/DetectorConfig/containers/__tests__/__snapshots__/DetectorConfig.test.tsx.snap
  public/pages/ReviewAndCreate/components/AdditionalSettings/AdditionalSettings.tsx
  public/pages/ReviewAndCreate/components/AdditionalSettings/SuppressionRulesModal.tsx
  public/pages/ReviewAndCreate/components/ModelConfigurationFields/ModelConfigurationFields.tsx
  public/pages/ReviewAndCreate/components/__tests__/AdditionalSettings.test.tsx
  public/pages/ReviewAndCreate/components/__tests__/ModelConfigurationFields.test.tsx
  public/pages/ReviewAndCreate/components/__tests__/__snapshots__/AdditionalSettings.test.tsx.snap
  public/pages/ReviewAndCreate/components/__tests__/__snapshots__/ModelConfigurationFields.test.tsx.snap
  public/pages/ReviewAndCreate/containers/__tests__/__snapshots__/ReviewAndCreate.test.tsx.snap
  public/pages/ReviewAndCreate/utils/helpers.ts
  public/redux/reducers/__tests__/utils.ts
  public/utils/utils.tsx
Labels: github actions, backport 2.x

#864 address CVE-2024-4067
  package.json
  yarn.lock
Labels: backport 2.x, backport 2.17

#868 add 2.17 release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.17.0.0.md
Labels: documentation, backport 2.x, backport 2.17

#849 Add suggest anomaly detector action to discover page
  opensearch_dashboards.json
  public/components/DiscoverAction/SuggestAnomalyDetector.test.tsx
  public/components/DiscoverAction/SuggestAnomalyDetector.tsx
  public/pages/ConfigureModel/components/FeatureAccordion/FeatureAccordion.tsx
  public/plugin.ts
  public/redux/reducers/__tests__/ad.test.ts
  public/redux/reducers/__tests__/opensearch.test.ts
  public/redux/reducers/ad.ts
  public/redux/reducers/opensearch.ts
  public/services.ts
  public/utils/contextMenu/getActions.tsx
  server/utils/constants.ts
Labels: backport 2.x, backport 2.17

#876 Report metrics for suggest anomaly detector
  .github/workflows/remote-integ-tests-workflow.yml
  opensearch_dashboards.json
  public/components/DiscoverAction/SuggestAnomalyDetector.test.tsx
  public/components/DiscoverAction/SuggestAnomalyDetector.tsx
  public/plugin.ts
  public/services.ts
  public/utils/constants.ts
Labels: backport 2.x

#883 [navigation]feat: update category to flatten menus in analytics(all) use case
  public/plugin.ts
Labels: backport 2.x
