Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2024-03, with the labels that each got.

#704 Adding 2.13 release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.13.0.0.md
Labels: documentation, backport 2.x

#702 Remove legacy dependency
  .eslintrc.yml
  package.json
  yarn.lock
Labels: dependencies, backport 2.x

#710 [Backport 2.x] Remove legacy dependency
  .eslintrc.yml
  package.json
  yarn.lock
Labels: documentation, github actions, dependencies, backport 2.x
