Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2024-06, with the labels that each got.

#767 support MDS in feature anywhere
  public/components/FeatureAnywhereContextMenu/CreateAnomalyDetector/AddAnomalyDetector.tsx
  public/components/FeatureAnywhereContextMenu/CreateAnomalyDetector/AssociateExisting/containers/AssociateExisting.tsx
  public/expressions/helpers.ts
  public/expressions/overlay_anomalies.ts
Labels: backport 2.x

#769 Update 2.x to 2.15.0
  opensearch_dashboards.json
  package.json
Labels: release, v2.15.0

#770 update create detector page and detector detail page to add custom result index lifecycle management settings
  public/models/interfaces.ts
  public/pages/DefineDetector/components/CustomResultIndex/CustomResultIndex.tsx
  public/pages/DefineDetector/containers/DefineDetector.tsx
  public/pages/DefineDetector/models/interfaces.ts
  public/pages/DefineDetector/utils/__tests__/helpers.test.tsx
  public/pages/DefineDetector/utils/constants.tsx
  public/pages/DefineDetector/utils/helpers.ts
  public/pages/DetectorConfig/containers/__tests__/__snapshots__/DetectorConfig.test.tsx.snap
  public/pages/ReviewAndCreate/components/DetectorDefinitionFields/DetectorDefinitionFields.tsx
  public/pages/ReviewAndCreate/components/__tests__/DetectorDefinitionFields.test.tsx
  public/pages/ReviewAndCreate/components/__tests__/__snapshots__/DetectorDefinitionFields.test.tsx.snap
  public/pages/ReviewAndCreate/containers/__tests__/__snapshots__/ReviewAndCreate.test.tsx.snap
  public/pages/ReviewAndCreate/utils/helpers.ts
  public/redux/reducers/__tests__/utils.ts
Labels: backport 2.x

#772 Update Frontend for Custom Result Index Query and Fix Issues
  package.json
  public/pages/DefineDetector/components/CustomResultIndex/CustomResultIndex.tsx
  public/pages/DetectorDetail/containers/DetectorDetail.tsx
  public/pages/DetectorDetail/containers/__tests__/CustomIndexErrorMsg.test.tsx
  public/pages/DetectorDetail/utils/helpers.tsx
  public/pages/ReviewAndCreate/components/DetectorDefinitionFields/DetectorDefinitionFields.tsx
  public/pages/ReviewAndCreate/containers/__tests__/__snapshots__/ReviewAndCreate.test.tsx.snap
  public/redux/reducers/__tests__/anomalyResults.test.ts
  public/redux/reducers/__tests__/liveAnomalyResults.test.ts
  public/redux/reducers/anomalyResults.ts
  public/redux/reducers/liveAnomalyResults.ts
Labels: backport 2.x

#773 fix a MDS related bug on feature anywhere page
  public/expressions/helpers.ts
  public/expressions/overlay_anomalies.ts
Labels: backport 2.x

#778 mds feature anywhere associated detectors fix
  public/components/FeatureAnywhereContextMenu/AssociatedDetectors/containers/AssociatedDetectors.tsx
  public/components/FeatureAnywhereContextMenu/CreateAnomalyDetector/AddAnomalyDetector.tsx
  public/components/FeatureAnywhereContextMenu/CreateAnomalyDetector/AssociateExisting/containers/AssociateExisting.tsx
Labels: backport 2.x

#781 adding 2.15 release notes
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.15.0.0.md
Labels: documentation, backport 2.x

#783 fix the bug that index field is not getting populated when editing a …
  public/pages/DefineDetector/components/Datasource/DataSource.tsx
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.15.0.0.md
Labels: backport 2.x

#789 Updating snapshot and adding null check on embeddable
  public/components/FeatureAnywhereContextMenu/AssociatedDetectors/containers/AssociatedDetectors.tsx
  public/pages/DefineDetector/containers/__tests__/__snapshots__/DefineDetector.test.tsx.snap
Labels: backport 2.x, backport 2.15

#798 Update Frontend CI to Use JDK 21
  .github/workflows/remote-integ-tests-workflow.yml
Labels: github actions

#795 feat: allow date_nanos dates in timestamp selection
  public/pages/DefineDetector/components/Timestamp/Timestamp.tsx
  public/pages/DefineDetector/components/Timestamp/__tests__/Timestamp.test.tsx
  public/pages/DefineDetector/components/Timestamp/__tests__/__snapshots__/Timestamp.test.tsx.snap
  public/redux/reducers/opensearch.ts
Labels: backport 2.x
