Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2024-07, with the labels that each got.

#806 MDS Version Decoupling
  opensearch_dashboards.json
  public/pages/ConfigureModel/containers/ConfigureModel.tsx
  public/pages/Dashboard/Container/DashboardOverview.tsx
  public/pages/DefineDetector/containers/DefineDetector.tsx
  public/pages/DetectorDetail/containers/DetectorDetail.tsx
  public/pages/DetectorJobs/containers/DetectorJobs.tsx
  public/pages/DetectorsList/containers/List/List.tsx
  public/pages/Overview/containers/AnomalyDetectionOverview.tsx
  public/pages/ReviewAndCreate/containers/ReviewAndCreate.tsx
  public/pages/utils/helpers.ts
  tsconfig.json
  yarn.lock
Labels: dependencies, backport 2.x

#810 AD side navigation redesign
  public/anomaly_detection_app.tsx
  public/pages/Overview/containers/AnomalyDetectionOverview.tsx
  public/pages/Overview/containers/__tests__/AnomalyDetectionOverview.test.tsx
  public/pages/Overview/containers/__tests__/__snapshots__/AnomalyDetectionOverview.test.tsx.snap
  public/pages/main/Main.tsx
  public/plugin.ts
  public/utils/constants.ts
Labels: backport 2.x

#812 side nav redesign change update
  public/plugin.ts
Labels: backport 2.x, backport 2.16

#817 Add 2.16 release note
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-2.16.0.0.md
Labels: documentation, backport 2.x, backport 2.16

#820 feat: show anomoly detection in left navigation
  public/plugin.ts
Labels: backport 2.x, backport 2.16

#823 address CVE-2024-4068
  package.json
  yarn.lock
Labels: dependencies, backport 2.x, backport 2.16
