Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2025-03, with the labels that each got.

#990 Adding release notes for 3.0-alpha1
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-3.0.0.0-alpha1.md
Labels: documentation

#991 fix(security): Upgrade axios to 1.8.2 to fix SSRF
  package.json
  yarn.lock
Labels: backport 2.x

#984 Switching fieldcaps api to utilize js client
  server/routes/opensearch.ts
Labels: backport 2.x

#993 Update @babel/runtime to >=7.26.10
  babel.config.js
  package.json
  yarn.lock
Labels: dependencies, backport 2.x
