Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2025-02, with the labels that each got.

#970 Revert "disable flatten result index option for existing detectors (#…
  public/pages/DefineDetector/components/CustomResultIndex/CustomResultIndex.tsx
Labels: backport 2.x, backport 2.19

#974 Add changelog verifier workflow
  .github/workflows/changelog_verifier.yml
  CHANGELOG.md
  DEVELOPER_GUIDE.md
Labels: documentation, github actions, backport 2.x

#985 Bump to version 3.0.0.0-alpha1
  .github/workflows/remote-integ-tests-workflow.yml
  .github/workflows/verify-binary-installation.yml
  opensearch_dashboards.json
  package.json
Labels: github actions
