Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2025-06, with the labels that each got.

#1039 fix a mds bug
  public/pages/Dashboard/Container/DashboardOverview.tsx
  public/pages/DetectorsList/containers/List/List.tsx
  public/pages/DetectorsList/utils/helpers.ts
  public/pages/Overview/containers/AnomalyDetectionOverview.tsx
Labels: backport 2.x

#1042 update testing-library/user-event dependency
  package.json
  public/components/DiscoverAction/SuggestAnomalyDetector.test.tsx
  public/components/FeatureAnywhereContextMenu/AssociatedDetectors/components/__tests__/ConfirmUnlinkDetectorModal.test.tsx
  public/components/FeatureAnywhereContextMenu/AssociatedDetectors/containers/__tests__/AssociatedDetectors.test.tsx
  public/pages/ConfigureModel/components/SuppressionRules/__tests__/SuppressionRules.test.tsx
  public/pages/DefineDetector/components/DataFilterList/components/__tests__/DataFilter.test.tsx
  public/pages/DefineForecaster/components/DataFilterList/components/__tests__/DataFilter.test.tsx
  public/pages/DetectorsList/components/ListFilters/__tests__/ListFilters.test.tsx
  public/pages/DetectorsList/containers/ConfirmActionModals/__tests__/ConfirmDeleteDetectorsModal.test.tsx
  public/pages/DetectorsList/containers/List/__tests__/List.test.tsx
  public/pages/ForecastersList/components/ListFilters/__tests__/ListFilters.test.tsx
  public/pages/ForecastersList/containers/ConfirmActionModals/__tests__/ConfirmDeleteForecastersModal.test.tsx
  public/pages/ReviewAndCreate/components/__tests__/ModelConfigurationFields.test.tsx
  public/pages/ReviewAndCreate/containers/__tests__/ReviewAndCreate.test.tsx
  yarn.lock
Labels: dependencies, backport 2.x

#1047 Improve validation, error display, and run-once state handling
  public/pages/ConfigureForecastModel/components/Settings/Settings.tsx
  public/pages/ConfigureForecastModel/components/Settings/__tests__/__snapshots__/Settings.test.tsx.snap
  public/pages/ForecastDetail/containers/ForecasterDetail.tsx
  public/utils/utils.tsx
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-3.1.0.0.md
  server/routes/utils/forecastHelpers.ts
Labels: documentation, backport 3.1

#1050 surface “missing data” error in test mode
  public/pages/ForecastDetail/containers/ForecasterDetail.tsx
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-3.1.0.0.md
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-3.10.0.md
Labels: backport 3.1

#1052 Improve Create Forecaster UI and cleanup logs
  public/pages/ConfigureForecastModel/components/AdvancedSettings/AdvancedSettings.tsx
  public/pages/ConfigureForecastModel/components/AdvancedSettings/__tests__/AdvancedSettings.test.tsx
  public/pages/DefineForecaster/containers/DefineForecaster.tsx
  public/pages/ForecastDetail/components/ForecastChart/ForecastChart.tsx
  public/pages/ForecastersList/containers/ConfirmActionModals/ForecasterActionsCell.tsx
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-3.1.0.0.md
Labels: backport 3.1

#1001 Restrict `Suggest anomaly detector` to only show for OpenSearch datasets
  public/utils/contextMenu/getActions.tsx
Labels: backport 2.x

#1058 Improve indicator helper, fix zero-value plotting etc
  .github/workflows/changelog_verifier.yml
  .github/workflows/remote-integ-tests-workflow.yml
  .github/workflows/verify-binary-installation.yml
  CHANGELOG.md
  public/pages/DefineForecaster/components/AggregationSelector/AggregationSelector.tsx
  public/pages/DefineForecaster/components/AggregationSelector/__tests__/__snapshots__/AggregationSelector.test.tsx.snap
  public/pages/DefineForecaster/components/ForecastCategory/ForecastCategory.tsx
  public/pages/ForecastDetail/components/ForecastChart/ForecastChart.tsx
  public/pages/ForecastDetail/containers/ForecasterDetail.tsx
  public/pages/ForecastDetail/utils/dateUtils.ts
  public/redux/middleware/clientMiddleware.ts
  server/routes/ad.ts
  server/routes/utils/forecastHelpers.ts
Labels: backport 3.1

#1060 Wrap data filter in detector creation
  public/pages/DefineDetector/components/DataFilterList/DataFilterList.tsx
  public/pages/DefineDetector/components/DataFilterList/components/DataFilter.tsx
  public/pages/DefineDetector/containers/__tests__/__snapshots__/DefineDetector.test.tsx.snap
Labels: bug, backport 2.x, backport 3.1
