Repository opensearch-project/anomaly-detection-dashboards-plugin, pull requests merged in 2025-04, with the labels that each got.

#1004 Increment version to 3.0.0.0-beta1
  .github/workflows/verify-binary-installation.yml
  CHANGELOG.md
  opensearch_dashboards.json
  package.json
Labels: github actions

#1007 Fix remote cluster bug when remote and local have same name
  public/pages/DefineDetector/components/Datasource/DataSource.tsx
  public/pages/ReviewAndCreate/components/DataConnectionFlyout/DataConnectionFlyout.tsx
Labels: backport 2.x

#1009 Adding release notes for 3.0.0.0-beta1
  CHANGELOG.md
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-3.0.0.0-beta1.md
Labels: documentation, backport 2.x

#1011 Display selected clusters correctly on edit page
  public/pages/DefineDetector/components/Datasource/DataSource.tsx
  public/pages/DefineDetector/containers/DefineDetector.tsx
  public/pages/DefineDetector/containers/__tests__/DefineDetector.test.tsx
  public/pages/DefineDetector/containers/__tests__/__snapshots__/DefineDetector.test.tsx.snap
  public/pages/DefineDetector/utils/__tests__/helpers.test.tsx
  public/pages/DefineDetector/utils/helpers.ts
  public/redux/reducers/__tests__/utils.ts
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-3.0.0.0-beta1.md
Labels: backport 2.x

#1027 adding release notes for 3.0.0.0
  release-notes/opensearch-anomaly-detection-dashboards.release-notes-3.0.0.0.md
Labels: documentation, backport 2.x, backport 3.0
